# Only needed if you set fr24_confirm_enabled=true in config.json.
# Uses FlightRadar24's unofficial/internal API — see fr24_confirm.py for the
# ToS and reliability caveats before enabling this.
FlightRadarAPI
